<?xml version='1.0' encoding='utf-8'?>
<widget id="com.subject7979map.id" version="0.0.1"
	xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Subject7979Map</name>

	<description>
		A sample empty mobile app
	</description>

	<author email="studio-feedback@zend.com " href="http://www.zend.com/en/products/studio">
		Zend Studio Team
	</author>

	<content src="index.html" />

	<access origin="*" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<engine name="android" version="5.3.0-nightly.2016.9.20.23fd0982" />


	<feature name="Whitelist">
		<param name="android-package" value="org.apache.cordova.whitelist.WhitelistPlugin" />
		<param name="onload" value="true" />
		<param name="id" value="cordova-plugin-whitelist" />
		<param name="version" value="1.3.3" />
	</feature>
</widget>